<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<staticContent>
    <mimeMap fileExtension=".json" mimeType="application/json" />
  </staticContent>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/{R:1}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
